"""
Пример .env файла
"""

CONFIG__SECRET__API_KEY = "your api_key"
# CONFIG__DEFAULTSCONFIG__MODEL_TYPE = "local"

or

# CONFIG__SECRET__API_KEY = "your api_key"
CONFIG__DEFAULTSCONFIG__MODEL_TYPE = "local"