{% block content %}
    <!-- Full-width Chat Container -->
    <main style="flex-grow: 1; margin-left: 0; padding: 0;">
        <div class="chat-full-container">
            <div class="chat-info">
                <div class="chat-title">{{ chat.title }}</div>
                <div class="chat-participants">{{ chat.participant_count }} участника</div>
            </div>

            <div class="chat-messages">
                {% for message in messages %}
                <div class="message {{ message.type }}">
                    <div class="message-avatar">{{ message.author_initials }}</div>
                    <div class="message-content">
                        <div class="message-header">
                            <span class="message-author">{{ message.author }}</span>
                            <span class="message-time">{{ message.time }}</span>
                        </div>
                        <div class="message-text">{{ message.text }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="message-input-full">
                <div class="message-input-wrapper">
                    <textarea class="message-input" placeholder="Напишите сообщение..."></textarea>
                    <button class="send-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="currentColor" d="M2 21L23 12L2 3v7l15 2l-15 2v7Z"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </main>
{% endblock %}