{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/company.css">
{% endblock %}

{% block title %}Company{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="main-block">
        <div class="main-block-heading">
            <div class="main-block-title">Компания "{{ company.name }}"</div>
        </div>
        <div class="main-block-content">
            <div class="action-bar">
                <a class="action-link">Настройки компании</a>
            </div>
            <div class="company-actions">
                <a href="/create_employee" class="blue-button">Пригласить сотрудников по почте</a>
                <a class="action-link">Пригласительная ссылка</a>
            </div>
        </div>
    </div>
    <div class="main-block">
        <div class="main-block-heading">
            <div class="main-block-title">Проекты</div>
        </div>
        <div class="main-block-content">
            <div class="action-bar">
                <!-- <a class="action-link">Добавить новый</a>
                <a class="action-link">Импортировать готовый</a> -->
            </div>
            <div class="project-card-list">
                {% for project in company.projects %}
                    <div class="project-card">
                        <div class="project-card-header">
                            <div class="project-card-heading">{{ project.name }}</div>
                            <div class="project-card-actions">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-grey hover:text-grey-l20 active:text-grey-d20" type="ui"><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                            </div>
                        </div>
                        <div class="project-card-index">{{ project.index }}</div>
                        <div class="employees-list">
                            {% for employee in project.employees %}
                                <div class="employee-bubble">
                                    {{ employee.index }}
                                </div>
                            {% endfor %}
                            <div class="employee-bubble">...</div>
                        </div>
                    </div>
                {% endfor %}
                <div class="project-card empty">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-none" type="ui"><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M9 12l6 0"></path><path d="M12 9l0 6"></path></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="main-block">
        <div class="main-block-heading">
            <div class="main-block-title">Отделы</div>
        </div>
        <div class="main-block-content">
            <div class="project-card-list">
                    {% for department in company.departments %}
                        <div class="project-card">
                            <div class="project-card-header">
                                <div class="project-card-heading">{{ department.name }}</div>
                                <div class="project-card-actions">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-grey hover:text-grey-l20 active:text-grey-d20" type="ui"><path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path><path d="M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path></svg>
                                </div>
                            </div>
                            <div class="project-card-index">{{ department.index }}</div>
                            <div class="employees-list">
                                {% for employee in department.employees %}
                                    <div class="employee-bubble">
                                        {{ employee.index }}
                                    </div>
                                {% endfor %}
                                <div class="employee-bubble">...</div>
                            </div>
                        </div>
                    {% endfor %}
                    <a href="/create_department" class="project-card empty">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-none" type="ui"><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M9 12l6 0"></path><path d="M12 9l0 6"></path></svg>
                    </a>
                </div>
        </div>
    </div>
    <div class="main-block">
        <div class="main-block-heading">
            <div class="main-block-title">Сотрудники</div>
        </div>
        <div class="main-block-content">
            <div>
                <div class="list-titles">
                    <div>Имя</div>
                    <div>Почта</div>
                    <div>Роль</div>
                    <div>Отдел</div>
                </div>
                <div>
                    {% for employee in company.employees %}
                        <div>
                            <div>{{ employee.full_name }}</div>
                            <div>{{ employee.email }}</div>
                            <div>-</div>
                            <div>-</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}