{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/company.css">
{% endblock %}

{% block title %}Создание сотрудника{% endblock %}

{% block content %}
<div class="wrapper">
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.surname.label }}
            <br><br>
            {{ form.surname(class="input-field") }}
            {% for error in form.surname.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <br><br>
        <div class="form-group">
            {{ form.name.label }}
            <br><br>
            {{ form.name(class="input-field") }}
            {% for error in form.name.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <br><br>
        <div class="form-group">
            {{ form.patronymic.label }}
            <br><br>
            {{ form.patronymic(class="input-field") }}
            {% for error in form.patronymic.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <br><br>
        <div class="form-group">
            {{ form.hire_date.label }}
            <br><br>
            {{ form.hire_date(class="input-field") }}
            {% for error in form.hire_date.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <br><br>
        <div class="form-group">
            {{ form.birth_date.label }}
            <br><br>
            {{ form.birth_date(class="input-field") }}
            {% for error in form.birth_date.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <br><br>
        <div class="form-group">
            {{ form.contact.label }}
            <br><br>
            {{ form.contact(class="input-field") }}
            {% for error in form.contact.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <br><br>
        <div class="form-group">
            {{ form.email.label }}
            <br><br>
            {{ form.email(class="input-field") }}
            {% for error in form.email.errors %}
                <div class="error-message">{{ error }}</div>
            {% endfor %}
        </div>
        <br>
        <div class="form-group">
            {{ form.submit(class="primary-button") }}
        </div>
    </form>
</div>
{% endblock %}
