{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/departments.css">
<link rel="stylesheet" href="/static/styles/company.css">
{% endblock %}

{% block title %}Departments{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="main-block" id="departments">
        <div class="main-block-heading">
            <div class="main-block-title" style="margin-left: 1.5vw;">Отделы</div>
        </div>
        <div class="main-block-content">
            <div class="action-bar" id="header-action-bar">
                <a class="action-link">Добавить отдел</a>
            </div>
            <div class="departments">
                <div class="department">
                    <div class="department-title">Главный отдел</div>
                    <hr class="nav-divider">
                    <div class="employees-list">
                        <div class="employee-bubble">GL</div>
                        <div class="employee-bubble">GL</div>
                    </div>
                    <div class="action-bar">
                        <a class="action-link" href="employees.html">Показать сотрудников</a>
                        <a class="action-link">Редактировать отдел</a>
                        <a class="action-link">Удалить отдел</a>
                    </div>
                </div>
                <div class="department">
                    <div class="department-title">Подотдел</div>
                    <hr class="nav-divider">
                    <div class="employees-list">
                        <div class="employee-bubble">GL</div>
                        <div class="employee-bubble">GL</div>
                    </div>
                    <div class="action-bar">
                        <a class="action-link" href="employees.html">Показать сотрудников</a>
                        <a class="action-link">Редактировать отдел</a>
                        <a class="action-link">Удалить отдел</a>
                    </div>
                </div>
                <div class="department">
                    <div class="department-title">Подотдел</div>
                    <hr class="nav-divider">
                    <div class="employees-list">
                        <div class="employee-bubble">GL</div>
                        <div class="employee-bubble">GL</div>
                    </div>
                    <div class="action-bar">
                        <a class="action-link" href="employees.html">Показать сотрудников</a>
                        <a class="action-link">Редактировать отдел</a>
                        <a class="action-link">Удалить отдел</a>
                    </div>
                </div>
                <div class="department">
                    <div class="department-title">Подотдел</div>
                    <hr class="nav-divider">
                    <div class="employees-list">
                        <div class="employee-bubble">GL</div>
                        <div class="employee-bubble">GL</div>
                    </div>
                    <div class="action-bar">
                        <a class="action-link" href="employees.html">Показать сотрудников</a>
                        <a class="action-link">Редактировать отдел</a>
                        <a class="action-link">Удалить отдел</a>
                    </div>
                </div>
                <div class="department">
                    <div class="department-title">Подотдел</div>
                    <hr class="nav-divider">
                    <div class="employees-list">
                        <div class="employee-bubble">GL</div>
                        <div class="employee-bubble">GL</div>
                    </div>
                    <div class="action-bar">
                        <a class="action-link" href="employees.html">Показать сотрудников</a>
                        <a class="action-link">Редактировать отдел</a>
                        <a class="action-link">Удалить отдел</a>
                    </div>
                </div>
                <div class="department">
                    <div class="department-title">Подотдел</div>
                    <hr class="nav-divider">
                    <div class="employees-list">
                        <div class="employee-bubble">GL</div>
                        <div class="employee-bubble">GL</div>
                    </div>
                    <div class="action-bar">
                        <a class="action-link" href="employees.html">Показать сотрудников</a>
                        <a class="action-link">Редактировать отдел</a>
                        <a class="action-link">Удалить отдел</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}