{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/company.css">
{% endblock %}

{% block title %}Employees{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="main-block">
        <div class="main-block-heading">
            <div class="main-block-title">Сотрудники</div>
        </div>
        <div class="main-block-content">
            <div>
                <div class="list-titles">
                    <div>Имя</div>
                    <div>Почта</div>
                    <div>Роль</div>
                    <div>Отдел</div>
                </div>
                <div>
                    {% for employee in employees %}
                        <div>
                            <div>{{ employee.full_name }}</div>
                            <div>{{ employee.email }}</div>
                            <div>-</div>
                            <div>-</div>
                        </div>
                    {% endfor %}
                    <br>
                    <a href="/employee/create"class="action-link">
                        Добавить сотрудника
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/deleteEmployee.js"></script>
<script src="/static/js/addEmployee.js"></script>
{% endblock %}