{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/styles/company.css">
{% endblock %}

{% block title %}Employees{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="main-block">
        <div class="main-block-heading">
            <div class="main-block-title">Сотрудники</div>
        </div>
        <div class="main-block-content">
            <div>
                <div class="list-titles">
                    <div>Имя</div>
                    <div>Почта</div>
                    <div>Роль</div>
                    <div>Отдел</div>
                </div>
                <div>
                    {% for employee in employees %}
                        <div>
                            <div>{{ employee.full_name }}</div>
                            <div>{{ employee.email }}</div>
                            <div>-</div>
                            <div>-</div>
                        </div>
                    {% endfor %}
                    <a href="/create_employee" class="project-card empty">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="flex-none" type="ui"><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path><path d="M9 12l6 0"></path><path d="M12 9l0 6"></path></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/deleteEmployee.js"></script>
<script src="/static/js/addEmployee.js"></script>
{% endblock %}