<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/index.css">
    <title>COMM — Company Communication Tool</title>
</head>
<body>
    <!-- Header Navigation -->
    <header class="header">
        <!-- Logo -->
        <div class="logo">
            <a href="index.html" class="logo">
                <img src="static/images/logo.png" alt="" class="logo-img">
            </a>
        </div>

        <div class="right-section">
            <button class="icon-button">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="#6d6e6f" stroke-width="1.5"/>
                    <path d="M12 6V12L16 14" stroke="#6d6e6f" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </button>
            <button class="icon-button">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z" stroke="#6d6e6f" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M22 6L12 13L2 6" stroke="#6d6e6f" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <a href="user.html">
                <button class="icon-button">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 15C15.3137 15 18 12.3137 18 9C18 5.68629 15.3137 3 12 3C8.68629 3 6 5.68629 6 9C6 12.3137 8.68629 15 12 15Z" stroke="#6d6e6f" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2.90625 20.2491C3.82775 18.6531 5.1533 17.3278 6.74923 16.4064C8.34516 15.4851 10.1568 15 12 15C13.8433 15 15.6549 15.4851 17.2508 16.4064C18.8467 17.3278 20.1722 18.6531 21.0938 20.2491" stroke="#6d6e6f" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </a>
            <a href="company">
                <button class="cta-button">Начать работу</button>
            </a>
        </div>
    </header>

    <!-- Hero Section -->
    <section class="hero">
        <h1>Лучшая платформа для корпоративной коммуникации совместно с AI</h1>
        <p>Упрощайте взаимодействие в компании и автоматизируйте рабочие процессы с помощью ИИ, который можно использовать в качестве надежного помощника.</p>
        <div class="button-group">
            <a href="company">
                <button class="primary-button">Начать работу</button>
            </a>
        </div>
    </section>
</body>
</html>