.main-block {
    height: 100%;
}

.action-bar {
    display: flex;
    flex-direction: column;
    display: inline-block;
    margin-left: 2vw;
    margin-top: 1.5vh;
    margin-bottom: 0;
    gap: 20px;
}

.employees {
    margin-left: 2vw;
    margin-top: 5vh;
}

