header {
    background-color: var(--white-color);
    box-shadow:  0px 5px 10px var(--shadow-color);
    border-bottom: 1px solid var(--border-color);
    padding: 2.5vh 2.5vw;
    z-index: 1000;
}
 
.header-nav-panel {
    display: flex;
    align-items: center;
}

.header-nav-panel a {
    color: var(--dark-color);
    text-decoration: none;
    font-size: 2.5vh;
    padding: 1.5vh 1vw;
}

.header-nav-panel a:hover {
    color: var(--blue-color);
}

.header-nav-panel a.active {
    color: var(--blue-color);
}

.main-content {
    display: flex;
    flex-grow: 1;
}

.side-nav-panel {
    width: 15%;
    background-color: var(--side-nav-bg-color);
    padding: 1.5vh 1.5vw;
    padding-bottom: 0;
    border-right: 1px solid var(--border-color);
}

.side-nav-panel a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--gray-color);
    text-decoration: none;
    font-size: 2.0vh; 
    padding: 1vh 1vw;
    border-radius: 6px;
    border-left: 3px solid transparent;
}

.snv-block:hover {
    color: var(--blue-color);
    border-left: 3px solid var(--blue-color);
}

.snv-block:hover .snv-button a {
    color: var(--blue-color);
}

.side-nav-panel .active {
    background-color: var(--blue-color);
    color: var(--white-color);
    font-weight: bold;
    border-left: 3px solid var(--blue-color);
}

.side-nav-panel .active .snv-button a {
    color: var(--white-color);
}

.nav-divider {
    border: none;
    height: 1px;
    background-color: var(--border-color);
    margin: 2.5vh 0;
}

.header-nav-panel .logo {
    margin-left: 0.5vw;
    margin-right: 1.5vw;
    padding: 0;
    font-size: 0;
}

.header-nav-panel .logo img {
    height: 3vh;
}

.snv-block {
    display: flex;
    /* justify-content: center; */
    align-content: center;
}

.snv-svg-icon {
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: currentColor;
    stroke-width: 1.3;
    stroke-linecap: round;
    stroke-linejoin: round;
}
  
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
fill: none;

}

.svg-icon circle {
fill: var(--gray-color);
stroke-width: 1;
}